[submodule "TCP-IP-NetworkNote"]
path = TCP-IP-NetworkNote
url = git@github.com:riba2534/TCP-IP-NetworkNote.git
[submodule "awesome-http"]
path = awesome-http
url = git@github.com:semlinker/awesome-http.git
